# $Id$

####### general ##############################################################

statusfile=/var/local/soepkiptng/soepkiptng.status
logfile=/var/local/soepkiptng/soepkiptng.log
errfile=/var/local/soepkiptng/soepkiptng.err

####### database ############################################################

db_type=mysql
db_host=ally
db_name=soepkiptng
db_user=soepkiptng
db_pass=soepkiptng

####### daemon ############################################################

playercmd=cdrplay -D /dev/dsp -wb2000
min_random_time=286400

# probability that a recently added song will be played
# (note: these songs are still subject to 'min_random_time')
recent_prob=0.25
# a recently added song is one that was added at most this number of days ago
recent_age=7

# ancient technology support (CD discs)
cdda_prog=soepkiptng_cdda
#cdda_prog=rsh othermachine soepkiptng_cdda -d /dev/scd1

####### add_songs ###########################################################

mp3dirs=/disk1/mp3
	/disk2/mp3

jingledir=/tmp/jingle
	
description_files=/home/eric/albums/albums /home/eric/albums/albums.new

####### web interface #######################################################

httpd_errfile=/var/local/soepkiptng/soepkiptng_httpd.err
httpd_port=8888
httpd_instances=5
httpd_lifetime=100

artistlistcmd=artistlist
#artistlistcmd=alllist

# show which user requested which song
show_user=1

# use greyed-out buttons (doesn't work with old netscape)
disabled_buttons=1

# if the albumlist above a songlist exceeds this #chars,
# the longest entries are cut off and something like "[10 more...]" is shown
albumlist_length_threshold=500

# limit #entries in alllist
alllist_limit=500

# show song info in browser's title bar (IE/Opera only)
title_song=1

# use _blank for new window (comment out for bottom frame)
edit_target=_blank

# global enable/disable of "Delete Song" button
allow_delete=0

# perl func that determines if write access to database should be allowed
# FIXME
#write_access_func=
#	my $r = Apache->request;
#	my $c = $r->connection;
#	my $ip = $c->remote_ip;
#	$ip eq "127.0.0.1";


topwindow_title=
#topwindow_title=
#	<font size=+2>Titeltje</font><Br>
title=SoepkipTNG
frameheights=40%,*
framewidths=25%,25%,*
marginheight=2
#body=bgcolor="#ffffcc" vlink="#000000" link="#000000"
body=bgcolor="#e0f4ff" vlink="#000000" link="#000000"
refreshtime=120
refreshtime_kill=2

bframe_start=
 <body bgcolor="#8cc4f7">
  <center>
   <img src="soepkiptng.gif">
  </center>
 </body>

th_left   = bgcolor="#cce8ff"
td_left   = bgcolor="#cce8ff"
th_artist = bgcolor="#cce8ff"
td_artist =
th_album  = bgcolor="#cce8ff"
td_album  = bgcolor="#cce8ff"
th_track  = bgcolor="#cce8ff"
td_track  = 
th_song   = bgcolor="#cce8ff"
td_song   = bgcolor="#cce8ff"
th_time   = bgcolor="#cce8ff" id=t
td_time   = id=t
th_enc    = bgcolor="#cce8ff"
td_enc    = bgcolor="#cce8ff"
th_edit   = 
td_edit   = 

addtext=add
addalltext=add&nbsp;all
deltext=del
delalltext=del&nbsp;all
uptext=up

killtext=kill

plstyle=
 #search { color: black;  }
 #a      { color: blue; }
 #az     { vertical-align: baseline; white-space: nowrap;
           color: blue;
         }
 TH      { text-align: left; vertical-align: top;
           color: black; font-style: bold; font-family: serif; }
 TD      { text-align: left; vertical-align: top;
           color: black; font-family: serif; }
 #t      { text-align: right; vertical-align: top;
           color: black; font-family: serif; }

artiststyle=
 #hdr    { font-family: serif; font-size: large }
 body    { color: black; font-family: serif; }
 #a      { color: blue;}
 TH      { text-align: left; vertical-align: top;
           color: black; font-style: bold; font-family: serif; }
 TD      { text-align: left; vertical-align: top;
           color: black; font-family: serif; }
 CAPTION { font-family: serif; font-size: large }

allstyle=
 #hdr    { font-family: serif; font-size: large }
 body    { color: black; font-family: serif; }
 #a      { color: blue; }
 TH      { text-align: left; vertical-align: top;
           color: black; font-style: bold; font-family: serif; }
 TD      { text-align: left; vertical-align: top;
           color: black; font-family: serif; }
 #t      { text-align: right; vertical-align: top;
           color: black; font-family: serif; }
 CAPTION { font-family: serif; font-size: large }

editstyle=
 body    { color: black; font-family: serif; }
 TH      { font-family: serif; }
 TD      { font-family: serif; }
 CAPTION { font-family: serif; font-size: large }

#searchformstyle=font-size: 50%; width: 40px; height: 18px
#searchformstyle=font-size: 50%; height: 18px
searchformstyle=
searchformsize=15

